body {
	overflow-x: hidden;
	padding-top: 80px;
}

.dropdown select {
	background: transparent;
	width: 23%;
	padding: 10px;
	color: #fff;
	line-height: 1;
	border: 1px solid;
	border-radius: 0.5rem;
	/*Hides the default arrows for Selects*/
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	position: relative;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.dropdown {
	overflow: hidden;
	margin: 10px;
	background: transparent;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.dropdown {
	position: relative;
}

.dropdown:before {
	content: "";
	position: absolute;
	right: 15px;
	top: 10px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.dropdown select>option {
	background: #ffffff;
	color: black;
}
/* 
.desg:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	background: #ffffff;
	top: 57%;
	margin-left: -155px;
} */
#jssor_1 {
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	width: 870px;
	height: 350px;
	overflow: hidden;
	visibility: hidden;
}

.jssrsdr {
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	width: 870px;
	height: 350px;
	overflow: hidden;
}

.main-slider {
	margin-top: 0%;
	width: 100%;
}

.caption1 {
	/* text-shadow: 1px 1px 6px #000000; */
	left: -84.5%;
	z-index: 0;
	color: white;
	top: 20%;
	position: absolute;
	font-size: 28px;
}

.caption2 {
	/* text-shadow: 1px 1px 6px #000000; */
	position: absolute;
	color: white;
	top: 40%;
	left: -85.1%;
	z-index: 0;
	font-size: 25px;
}

.caption3 {
	/* text-shadow: 1px 1px 6px #000000; */
	position: absolute;
	color: white;
	top: 65%;
	left: -85.1%;
	z-index: 0;
	font-size: 18px;
}

.caption4 {
	/* text-shadow: 1px 1px 6px #000000; */
	position: absolute;
	top: 65%;
	left: -85.1%;
	z-index: 0;
}

#quoteBox {
	width: 400px;
	height: 100px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.slick-slide {
	background: #23b1ec;
	border-radius: 5px;
	/* border: 1px solid #ccc; */
	text-align: center;
	padding: 15px;
	color: #ffffff;
	margin: 20px;
	width: 333px;
	height: 500px;
}

.slick-slide2 {
	background: #80bb2d;
	border-radius: 5px;
	/* border: 1px solid #ccc; */
	text-align: center;
	padding: 15px;
	color: #ffffff;
	margin: 20px;
	width: 333px;
	height: 500px;
}
